body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #ff0000, #1a1818);
}

.header {
    background-color: #161616;
    color: #fff;
    text-align: center;
    height: 100px;
    padding: 20px;

}


.topnav {
    max-width: 400px;
    display: flex;
    gap: 150px;
    margin-left: 120px;

}

.topnav a {
    color: rgb(7, 7, 7);
    text-decoration: none;
    display: inline-flex;
    background-color: rgb(238, 4, 4);
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    transition: 0.3s;


}

.topnav a:hover {
    background-color: rgb(7, 7, 7);
    color: white;
    transform: scale(1.2);
}

.footer {
    background-color: #111111;
    color: #fff;
    text-align: center;
    height: 50px;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0px;
}

.footer a {
    color: #fff;


}