body {
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.judul {
    text-align: center;
    padding: 20px;
    font-size: 2em;
}

.galeri {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.tokoh {
    width: 200px; 
    text-align: center;
    transition: transform 0.3s;
}

.tokoh img {
    height: 200px; 
    width: 100%;
    object-fit: cover; 
    
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.tokoh img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.tokoh p {
    margin-top: 8px;
    font-weight: bold;
}
.popup-toggle {
    display: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup-toggle:checked + .popup {
    display: flex;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
}

.popup-box {
    background: #222;
    padding: 30px;
    border-radius: 12px;
    max-width: 400px;
    z-index: 10;
    text-align: center;
    box-shadow: 0 0 20px rgba(255,255,255,0.2);
}

.tutup {
    display: inline-block;
    margin-top: 15px;
    background: #e50914;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.tutup:hover {
    background: #b00610;
}